<template>
  <div>
    {{ detail }}
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import { Sample } from '@/app/sample/model/sample.model';
import { sampleStore } from '@/app/sample/store/sample.store';

@Component
export default class SampleDetail extends Vue {
  detail: Sample.Response.FindOne = new Sample.Response.FindOne();
  store = sampleStore;

  created() {
    this.store.actions.getOne(this.$route.params.id);
  }

  @Watch('store.state.one')
  getDetail() {
    this.detail = this.store.getters.getterOne();
  }
}
</script>
