<template>
  <div>
    <div>
      <label>userId</label>
      <input v-model="add.userId">
    </div>

    <div>
      <label>title</label>
      <input v-model="add.title">
    </div>

    <div>
      <label>body</label>
      <input v-model="add.body">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import { Sample } from '@/app/sample/model/sample.model';

@Component
export default class SampleAdd extends Vue {
  add: Sample.Request.Add = new Sample.Request.Add();
}
</script>
