<template>
  <div>
    <form @submit.prevent="onSubmit">
      <sample-add ref="AddComponent" />

      <button type="submit">
        등록
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import SampleAdd from '@/app/sample/view/sample-add.vue';
import { validate } from '@/validate/validate';
import { sampleStore } from '@/app/sample/store/sample.store';

@Component({
  components: { SampleAdd },
})
export default class SampleAddPage extends Vue {
  onSubmit() {
    const add = (this.$refs.AddComponent as any)[`add`];
    validate(add, sampleStore);

    this.$router.back();
  }
}
</script>
