<template>
  <div>
    <button @click="onAdd">ADD</button>

    <sample-list />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import SampleList from '@/app/sample/view/sample-list.vue';

@Component({
  components: { SampleList },
})
export default class ListPage extends Vue {
  created() {
    console.log('list');
  }
  onAdd() {
    this.$router.push('./add');
  }
}
</script>
 