<template>
  <div>
    <sample-detail />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import SampleDetail from '@/app/sample/view/sample-detail.vue';

@Component({
  components: { SampleDetail },
})
export default class SampleDetailPage extends Vue {
  created() {
    console.log('detail');
  }
}
</script>
 