<template>
  <div>
    <ul>
      <li v-for="item in list" @click="onDetail(item.id)">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import { Sample } from '@/app/sample/model/sample.model';
import { sampleStore } from '@/app/sample/store/sample.store';

@Component
export default class SampleList extends Vue {
  list: Sample.Response.FindAll[] = [];
  store = sampleStore;

  created() {
    sampleStore.actions.getList();
  }

  onDetail(id: number) {
    this.$router.push(`./detail/${id}`);
  }

  @Watch('store.state.list')
  getListItem() {
    this.list = this.store.getters.getterList();
  }
}
</script>
