<template>
  <footer id="footer">
    푸터
  </footer>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class FooterDefault extends Vue {
  
}
</script>