<template>
  <header id="header">
    헤더
  </header>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class HeaderDefault extends Vue {

}
</script>