<template>
  <div>
    <h1>{{ result }}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Test extends Vue {
  result = '';

  testMethods(data: string) {
    this.result = 'test' + data;
  }

  created() {
    this.testMethods('10');
  }
}
</script>
