<template>
  <div id="app">
    <header-default />
    <router-view id="contents" />
    <footer-default />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HeaderDefault from '/system/layout/header-default.vue';
import FooterDefault from '/system/layout/footer-default.vue';

@Component({
  components: { HeaderDefault, FooterDefault }
})
export default class App extends Vue {}
</script>